html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1em;
    background-color: #fff3e0;
    
}
/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  /* Base styles */
  
/*--------------------Navigation Bar-----------------*/

.logo{
    width: 4.375em;
    margin-top: 1.25em;
    border-radius: 3.75em;
}


.navbar-toggler{
    color:rgba(239,139,111,400);
} 
.navbar-brand{
    color: rgba(239,139,111,400);
    font-weight: 645;
    margin-top: 1.25em;
    margin-left: 0.625em;
    margin-right: 20em;
}

.nav-link{
    color: #ef8b6f;
    font-weight: 645;
    margin-top: 1.25em;
    margin-left: 5em;
    
}
.navbar-custom {
    background-color: #fff3e0;
}

.navbar-custom .navbar-brand,.navbar-custom .nav-link  {
    color:#ef8b6f !important;

}

/*
.btn{
    background-color: #ef8b6f;
    color: white;
    border-color: #ef8b6f;
    padding-left: 2.1875em;
    padding-right: 2.1875em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-left: 8.125em;
    margin-top: 1.25em;
    font-weight: 640;
    border-radius: 10px;
}


.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10px;
}
.btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--main-red);
}

.btn-show-all:hover > i {
    transform: translateX(2px);
}

.btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}
*/
/*Footer*/
.link{
    color:black;
}
/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 0 2rem;
    background: #f5c6a5;
    margin-top: 0;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin: 50px 0;
    flex-wrap: wrap;
}

  
.contact-details {
    transition: transform 0.3s ease-out;
} 
.contact-details:hover {
    transform: translateY(8px);
}
/* Footer section */
.footer {
    background-color: #f5c6a5;
    height: auto;
}
