html{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    background-color: #fff3e0;
    scroll-behavior: smooth;
    /* max-width: 1000px; */
    box-sizing: border-box;
    
}
@media only screen and (max-width:1100px) {
    html {
      font-size: 65%;
    }
    /* .navbar-brand{
        margin-right: 20px;
    } */
    .nav-link{
        margin-left: -30px;
        font-size: 130%;
    }
    .footer{
        font-size: 130%;
    }
    .main-section{
        margin-left: -10%;
    }
    /* .food-picture img{
        width: 60%;
        height: 1px;
    } */
  }
  
  /* 980px / 16px = 61.25em */
  /* @media (max-width: 1023px) {
    html {
      font-size: 58%;
    }
  } */
  
  /* 460px / 16px = 28.75em */
@media only screen and (max-width:990px) {
    html {
      font-size: 65%;
    }
.main-section{
    margin-left: -30%;
    width: 200px;
    }
    /* .navbar-brand,.nav-link{
        margin-left: 100px;
    } */
    /* .logo{
        margin-right: 0px;
    } */
    /* .main-section img{
        width: 70%;
    } */
    .nav-link{
        text-align: center;
        font-size: 120%;
    }
    .navbar-brand,.slogan{
        margin-left: 0px;
    }
  }

@media only screen and (max-width:600px) {
    html {
      font-size: 55%;
    }
    /* .navbar-nav{
        display: none;
    }
  
    .nav-icon{
        display: block;
    } */
    .food-picture img{
        width: 100%;
    }
    .logo{
        margin-left: 20px;
    }
    .slogan,.navbar-brand,.logo{
        margin-right: 0px;
    }
    .main-section{
        margin-left: -40%;
        width:auto;
    }
}
/* Base styles */
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: #fff3e0;
}
/*--------------------Navigation Bar-----------------*/
.nav1{
    border: 1px solid white;
    padding-top: 2px;
    /* padding-right: 20px; */
    margin-top: 10px;
    /* width: fit-content; */
    background-color: #fff3e0 !important;
}
.logo{
    width: 60px;
    size: 1;
    margin-top: 5px;
    margin-left: 15px;
}
.navbar-brand{
    color: rgba(239,139,111,400);
    font-weight: 648;
    margin-top: 3px;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 380px;
    letter-spacing: 2px;
}

.slogan{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 648;
    margin-left: 20px;
}
.nav-link{
    color: #ef8b6f;
    font-weight: 648;
    margin-top: 5px;
    /* margin-left: 90px; */
    margin-right: 70px;
    transition: border-bottom 2s;
}

.nav-link:hover,
.nav-link:active{
    border-bottom: 2px solid #ebd0c9;
}

.nav-icon{
    font-size: 150%;
    position: absolute;
    top: 25px;
    right: 100px;
    display: none;
}
/* Welcome section */
.image-wrapper{
    display: flex;
    position: auto;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

}
/* Contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 0 2rem;
    background: #f5c6a5;
    margin-top: 0;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin: 50px 0;
    flex-wrap: wrap;
}

  
.contact-details {
    transition: transform 0.3s ease-out;
} 
.contact-details:hover {
    transform: translateY(8px);
}

/*Form*/
.form-heading {
    color: #ef8b6f;
    
}

.form-wrap{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
}
.form-text{
    font-size: 0.8em;
}
.form-content{
    margin-bottom: 1.5em;
}
.btn-form{
    padding: 1em 2em;
    justify-content: center;
    border-radius: 2em;
    color: white;
    border-color: transparent;
    background-color: #ef8b6f;
}
.results-form{
    margin-top: 2em;
    font-size: larger;
}

/* Footer section */
.footer {
    background-color: #f5c6a5;
    height: auto;
}
.text-uppercase{
    font-weight:700;
    color:#747474;
    font-size:0.875em;
}
.link{
    color:rgba(29, 31, 46, 0.7);
}